# Unity project template from GitHub
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Mm]emoryCaptures/
**/[Rr]ecordings/

# Rider/Jetbrains IDE
.idea/
.Rider/
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio/JetBrains project files
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Mac-related
.DS_Store

# Crashlytics
crashlytics-build.properties

# iOS/Xcode (if applicable)
*.xcworkspace
*.xcuserstate
*.xcuserdatad

# Build & Package outputs
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Crash info
sysinfo.txt

# Prevent accidental ignore of necessary folders
!/[Pp]rojectSettings/
!/[Pp]ackages/
